[package]
name = "bytes"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1"
compact_str = { version = "0.3", features = ["bytes"] }
