on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

name: MSRV

env:
  # local default for proptest is 100
  PROPTEST_CASES: 1000
  RUSTFLAGS: "-D warnings"

jobs:
  test:
    name: cargo test msrv..
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: install cargo hack
        run: cargo install cargo-hack
      - name: cargo test msrv..
        run: |
          cd compact_str
          cargo hack test --feature-powerset --optional-deps --version-range 1.49..
